*~
*.py[co]
.DS_Store
__pycache__
out
cover

# environment
env/
venv/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
private_files
bin
var
sdist
develop-eggs
.installed.cfg
hatch-1.9.3.pkg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# PyTest
.cache

# Textmate (a Mac editor) meta files
._*
