decorator==4.0.9
ipython==4.2.0
ipywidgets==5.1.5
ipython-genutils==0.1.0
matplotlib==1.5.3
numpy==1.10.4
pandas==0.18.1
pandas_datareader==0.2.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
python-dateutil==2.4.2
pytz==2015.7
requests_cache==0.4.12
scipy==0.17.0
simplegeneric==0.8.1
traitlets==4.1.0
seaborn>=0.7.0
click>=6.6
pyyaml>=3.11
munch>=2.0.4
enum34>=1.1.6
multipledispatch>=0.4.8
